body {
 font-family: 'Raleway'; font-size: 18px;
  background-image: url('../IMG_0674.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

footer {
  text-align: center;
  text-align-last: auto;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  background: #141526;
}

.player {
  min-width: 320px;
  height: 280px;
  background-image: linear-gradient(black, gray);
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  box-shadow: 2px 2px 3px black;
  opacity: 0.7;
}
/* Title */
.title {
  margin-top: 0;
  text-align: center;
}
/* Cover */
.cover {
  width: 200px;
  height: auto;
  border-radius: .3rem;
  display: block;
  margin: 0 auto 1rem auto;
}
/* Progress */
.progress-container {
  height: .6rem;
  background-color: lightgray;
  margin-bottom: 1rem;
}
.progress {
  background-color: goldenrod;
  width: 0; height: 100%;
}
/* Controls */
.controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.controls button {
  background-color: transparent;
  border: none;
}
.controls i {
  font-size: 1.7rem;
  color: white;
}
