body {
 font-family: 'Raleway'; font-size: 18px;
  background-image: url('../IMG_0674.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

footer {
  text-align: center;
  text-align-last: auto;
  position: static;
  left: 0px;
  bottom: 0px;
  height: calc(5.5rem);
  width: 100%;
  background: #141526;
}

div.mensajes{
  background-color: white;
  border-radius: 0.8rem;
}

form.needs-validation{
  border-radius: 0.8rem;
}